/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff url("../images/bgtile.png") repeat-x right top;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

main {
  overflow: hidden;
}
li {
  list-style: none;
}

.phones {
  float: left;
  margin-top: 10%;
  margin-left: 9%;
}

.brand {
  float: left;
  margin-top:12%;
  margin-left: 5.5%;

}

.home {
  background-color: #4889BD;
  border: black 1px solid;
  color: lightgrey;
  width: 90px;
  height: 40px;
  float: right;
  clear: right;
  position: relative;
  margin-top: 14%;
  margin-right: 1%;
}

.home span {
  position: absolute;
  left: 37%;
  font-weight: 500;
  top:25%;
}

.home img {
  position: absolute;
  left: 5%;
  top: 23%;
}

.frame {
  float: right;
  margin-top: 2%;
  z-index: -1;
}

.description {
  position: relative;
}

.pitch {
  position: absolute;
  left: 50%;
  top: 220px;
}

.store {
  margin-top: 5%;
  margin-right: 4%;
}

h1 {
  color: #1c5380;
  padding-right: 49%;
}

.foot {
  /*display: inline-block;*/
  margin-left: 14%;
  margin-top: 5%;
}

.foot-link {
  color: #1c5380;
  font-weight: bold;
  float: left;
  margin-right: 2%;
}
